.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden; /* Prevent accidental scrolling */
}

.squares-canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
}

.encryption-container {
    position: relative;
    z-index: 1;
    background-color: rgb(182, 176, 176);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(214, 29, 29, 0.1);
    padding: 20px;
    margin: 0;
}
