/* Centers everything */
.app-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: transparent;
  overflow: hidden;
}

.bg-div {
  margin: 0;
  height: 100%;
  width: 100vw;
  background-color: #180b0b;
  z-index: -10;
  position: absolute;
}

/* Logo container */
.logo-container {
  margin-top: 15px;
  margin-bottom: 10px;
  z-index: 2;
}

.logo-1 {
  cursor: pointer;
  z-index: 10;
  display: block;
  margin: 0 auto;
  border-radius: 40px;
  width: 90px;
  height: auto;
  filter: invert(1);
}

/* Form wrapper */
.form-wrapper {
  width: 20%;
  max-width: 400px;
  height: 350px;
  display: flex;
  flex-direction: column;
  background: transparent;
  /* background: rgba(255, 255, 255, 0.1); Semi-transparent background */
  /* backdrop-filter: blur(10px);  */
  border-radius: 10px;
  align-items: center;
  z-index: 2;
}

/* Subheader styling (e.g., Login, Sign up) */
h2 {
  color: rgb(35, 158, 253); /* Bright blue color */
  margin-bottom: 20px;
  margin-top: -17px;
  text-align: center; /* Center text */
  font-weight: bold; /* Make text bold */
  font-family: "Source Code Pro", monospace; /* Change font */
}

/* Form layout */
form {
  display: flex;
  flex-direction: column;
}

/* Input styling */
input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 2;
  font-family: "Source Code Pro", monospace; /* Change font */
}

/* Button styling */
.button {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 2;
  font-weight: bold;
  font-family: "Source Code Pro", monospace; /* Change font */
}

/* Button hover effect */
.button:hover {
  background-color: #0056b3;
}

/* Paragraph styling (links) */
p {
  color: #007bff;
  margin-top: 10px;
  text-align: center; /* Center text */
}

p span {
  color: #f3f3f3;
  cursor: pointer;
}

p span:hover {
  text-decoration: underline;
}
